body{
    margin:0;
}
#searchSection{
position: absolute;
left:40%;
top:25%;
}
div{
    border:1px solid gray;
}
#mainDiv{
    position: absolute;
    top:37%;
    left:10%;
    width: 80%;
    right:10%;
    height:auto;
}
.articleContainer{
    position: relative;
    left:0%;
    width:100%;
    border: 3px solid orange;
    height: auto;
    overflow: auto;
}
.crossButtonContainer{
    position: relative;
    left:0%;
    top:0%;
    border: 3px solid blueviolet;

}
.crossButton{
    height:20px;
    position: relative;
    top:0%;
    left:75%;
}
.newsContainer{
    /* float: left; */
    position: relative;
    left:0%;
    width: 80%;
    border: 1px solid palevioletred;
    height: auto;
    overflow: auto;


} 
.newsImageContainer{
    /* float: right; */
    top: 0%;
    right: 0%;
    border: 1px solid black;
    position: absolute;
    width: 20%;
    height: auto;
    overflow: auto;
}
.newsImage{
    height: 100px;
    top:0%;
    left:0%;
    position: relative;
}
.mainSection{
position:relative;
top:0%;
left:0%;
overflow: auto;
height: auto;
}