body{
    margin: 0;
    height: 100vh;
    width: 100%;
}
#headerDiv{
    position: relative; 
    top:0%;
    left:0%;
    height:10vh;
    width:100%;
    /* border:2px solid chartreuse;  */
}
#leftHeader{
    position: absolute; 
    float: left;
    top:0%;
    left:0%;
    height:inherit;
    width : 30%;
    /* border:2px solid cornsilk;  */
}
#rightHeader{
    position: absolute; 
    float: right;
    top:0%;
    left:60%;
    height:inherit;
    width:40%;
    /* border:2px solid palevioletred;  */
}
#imgLogo{
    height:100px;
    padding-left: 7;
    padding-top: 1%;
    opacity: 0.9;
}
.buttonHeader{
    background-color: transparent;
    color: white;
    border:none;
    outline: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:roboto;
    font-size: 11pt;
    opacity: 0.7;
    cursor: pointer;
    /* border: 1px solid black; */
    transition: all 1s;
}
.buttonHeader:hover{
    opacity: 1;
    background-color:#100817;
    border-radius: 6px;
    transition: all 1s;
}
#clearDiv{
    position: static;
    clear:both;
    width: inherit;
    height: 18vh;
    /* border: 2px solid black; */
}
#mainSection{
    position: absolute; 
    top:40%;
    left:5%;
    height:30vh;
    width:90%;
    /* border:2px solid orange;          */
}
#websiteName{
    position: absolute; 
    top:0%;
    left:0%;
    height:10vh;
    width:100%;
    /* border:2px solid pink;                 */
}
#contentAnimation{
    position: absolute; 
    top:30%;
    left:0%;
    height:10vh;
    width:100%;
    /* border:2px solid green; */
}
#upText{
    line-height: 32px;
    height: 34.5px;
    font-size: 26pt;
    color:white;
    opacity: 0.8;
    padding-top: 3%;
    padding-bottom: 2%;
    margin: 0%;
}
#buttonDiv{
    position: absolute; 
    top:70%;
    left:44%;
    height:10vh;
    width:20%;
    /* border:2px solid cornflowerblue; */
    
}
.buttonCentre{
    background-color: transparent;
    color: white;
    border:none;
    outline: none;
    border: 1px solid blueviolet; 
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:roboto;
    font-size: 15pt;
    opacity: 1;
    cursor: pointer;
    border-radius: 20px; 
    /* border: 1px solid grey; */
    padding: 10px;
    width: 60%;
    transition: all 3s;
}
.buttonCentre:hover{
    opacity: 1;
    background-color:	#813268;
    transition: all 3s;
    box-shadow:  2px 2PX 10px #706767;
    border :1px solid black;
    border-radius: 0px;
}
#moveRight{
    position: absolute; 
    top:32%;
    left:98%;
    height:10vh;
    width:5%;
    border:2px solid cornflowerblue; 
}
#pen{
    height:30px;
    opacity: 0.3;
}
#text-anim{
    font-family: 'DM Serif Display', serif;
}


